<!DOCTYPE html>
<html>
<head>
    <title>MeLVin</title>
    <script type="text/javascript" src="./js/validator.min.js"></script>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/validation.js"></script>
    <link rel="stylesheet" href="./assets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="./assets/fontawesome-all.css"/>

    <link rel="stylesheet" href="./assets/main-app.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
</head>
<body>
<div class="container-fluid">
    <div id="content">
        <div class="content">
            <div class="row">
                <div class="form-container">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="page-header  margin-top-0">
                                <div class="page-header  margin-top-0">
                                    <div class="logo-container">
                                        <!--<img class="title-icon" src="./favicon.ico"/>-->
                                        <h1 class="display-2">MeLVin</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-info mt-3">
                                <span>Registration is closed.</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center margin-0">
                                <span>Back to </span>
                                <a href="./">sign in page.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
